<% include ../partials/header %> 

 <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>即時路況監控、預測、媒合系統</h1>
             <p>這個系統能夠監控及預估國道上的車流狀況，計算合理到達目的地的時間</p>
             <p>使用者可以自創帳號，查詢不同路經所需花費的時間</p>
             <p>使用者也可觀察其他使用者的行車路程，與其他使用者聯繫共乘</p>

             <h2>
                <a class="btn btn-primary btn-large" href="/campgrounds/road">行車規劃(兩步驟)</a>
             </h2>
         </div>
     </header>
     
     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   <div class="caption">
                       <h4><%= "起點： " + campground.start_point %></h4>
                   </div>
                   <div class="caption">
                       <h4><%= "終點： " + campground.destination %></h4>
                   </div>
                   <div class="caption">
                       <h4><%= "國道： " + campground.road_type %></h4>
                   </div>
                   <p>
                       <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
                   </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>
